* {
    margin:0;
    padding:0;
    box-sizing:border-box;
   font-family:"Georgia";
}

nav{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding: 25px;
    background:lightpink
}
ul{
    display:felx;
    list-style:none;
    width:25%;
    justify-content:space-between
}
main, footer{
width:1200px;
margin:auto;
text-align:center;
}
h4{
    margin-top:20px;
    margin-bottom:20px;
}

.profile-item{
    margin-top:50px;
    margin-bottom:50px;
}
